.hr {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--primary-persian-blue-501);
  box-sizing: border-box;
  height: 1px;
  flex-shrink: 0;
}
.companyName {
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
}
.emailAddressWrapper {
  width: 280px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.phoneNoWrapper {
  width: 160px;
  display: flex;
}
.contactPersonWrapper,
.phoneNoWrapper,
.transactionStatusWrapper {
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contactPersonWrapper {
  width: 192px;
  display: flex;
}
.transactionStatusWrapper {
  width: 120px;
  display: none;
  color: var(--grey-dark-175);
}
.sites {
  position: relative;
  letter-spacing: 0.01em;
}
.actionsWrapper,
.sitesWrapper,
.tenantGroupsWrapper {
  width: 80px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.actionsWrapper,
.tenantGroupsWrapper {
  width: 96px;
}
.actionsWrapper {
  width: 48px;
  height: 16px;
  align-items: center;
  justify-content: flex-end;
}
.header,
.tableheaderclientsList {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.header {
  background-color: var(--primary-persian-blue-25);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl);
  align-items: center;
  gap: var(--gap-xs);
}
.tableheaderclientsList {
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--typeface-nunito-sans-body-31-size);
}
.avatarsChild,
.userIcon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.userIcon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-41xl);
  object-fit: cover;
}
.avatarsChild {
  height: 18.75%;
  width: 18.75%;
  top: 75%;
  right: 6.25%;
  bottom: 6.25%;
  left: 75%;
  display: none;
}
.avatars {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.avatarsParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.phoneNumber {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.pending {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
}
.transactionStatus1 {
  position: relative;
  width: 52px;
  height: 20px;
  flex-shrink: 0;
}
.transactionStatusContainer {
  width: 120px;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--red-125);
}
.iconSet {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.button,
.buttonWrapper {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button {
  border-radius: var(--br-5xs);
  width: 32px;
  height: 32px;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
}
.buttonWrapper {
  width: 48px;
}
.hr2,
.rowSample {
  align-self: stretch;
}
.rowSample {
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.hr2 {
  position: relative;
  border-top: 1px solid var(--primary-persian-blue-25);
  box-sizing: border-box;
  height: 1px;
  flex-shrink: 0;
}
.tablerowclientsList,
.transactionStatusFrame {
  align-items: flex-start;
  justify-content: flex-start;
}
.tablerowclientsList {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--gap-12xs);
}
.transactionStatusFrame {
  width: 120px;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
  color: var(--green-1501);
}
.a,
.bg {
  position: absolute;
}
.bg {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-41xl);
  background-color: var(--primary-persian-blue-25);
}
.a {
  top: 18.75%;
  left: 34.38%;
}
.companyName5 {
  flex: 1;
  position: relative;
  line-height: 20px;
  color: var(--secondary-iss-dark-blue-1001);
}
.avatarsParent2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--color-dimgray);
}
.bg1 {
  position: absolute;
  height: 112.5%;
  width: 112.5%;
  top: -6.25%;
  right: -6.25%;
  bottom: -6.25%;
  left: -6.25%;
  border-radius: var(--br-41xl);
  background-color: var(--primary-persian-blue-25);
  border: 2px solid var(--primary-persian-blue-501);
  box-sizing: border-box;
}
.avatarsChild4 {
  position: absolute;
  height: 25%;
  width: 25%;
  top: 71.88%;
  right: 3.13%;
  bottom: 3.13%;
  left: 71.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tabel,
.tablerowclientsList10 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tablerowclientsList10 {
  align-self: stretch;
  display: none;
  gap: var(--gap-12xs);
}
.tabel {
  position: absolute;
  top: 93px;
  left: 356px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: var(--card-shadow-011);
  width: 1544px;
  overflow: hidden;
  display: flex;
}
.iconSet12,
.listItem1 {
  position: relative;
  flex-shrink: 0;
}
.iconSet12 {
  width: 14px;
  height: 14px;
  overflow: hidden;
}
.listItem1 {
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 142px;
}
.listItem,
.listItem8,
.menu {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  overflow: hidden;
  justify-content: flex-start;
}
.listItem {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  gap: var(--gap-xs);
}
.listItem8,
.menu {
  box-sizing: border-box;
}
.listItem8 {
  width: 327px;
  display: none;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  gap: var(--gap-xs);
}
.menu {
  position: absolute;
  top: 338px;
  left: 1668px;
  box-shadow: var(--card-shadow-041);
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs);
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.pageTitle {
  position: relative;
  line-height: 120%;
  font-weight: 800;
}
.breadcrumb,
.breadcrumb1,
.currentPage {
  background-color: var(--other-clickable);
  flex-direction: row;
  align-items: center;
}
.breadcrumb {
  display: flex;
  justify-content: flex-start;
}
.breadcrumb1,
.currentPage {
  gap: var(--gap-5xs);
}
.breadcrumb1 {
  display: none;
  justify-content: flex-start;
}
.currentPage {
  color: var(--secondary-iss-dark-blue-501);
}
.breadcrumbs,
.currentPage,
.right {
  display: flex;
  justify-content: flex-start;
}
.breadcrumbs {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--typeface-nunito-sans-body-31-size);
}
.right {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--typeface-nunito-sans-headline-h5-size);
}
.iconSet17 {
  position: relative;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  overflow: hidden;
}
.button13 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
}
.suffixIcon {
  position: relative;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.button12 {
  border-radius: var(--br-5xs);
  background-color: var(--primary-persian-blue-501);
  height: 40px;
  display: flex;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  justify-content: center;
}
.button12,
.button14,
.leftCtas {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.button14 {
  border-radius: var(--br-5xs);
  background-color: var(--primary-persian-blue-1001);
  box-shadow: var(--card-shadow-02);
  height: 40px;
  display: flex;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  justify-content: center;
  color: var(--white);
}
.leftCtas {
  align-self: stretch;
  display: none;
  justify-content: flex-start;
  color: var(--primary-persian-blue-1001);
}
.radioBtn {
  position: relative;
  border-radius: var(--br-base);
  border: 2px solid var(--grey-light-1001);
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.listItem10,
.radioButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.radioButton {
  justify-content: flex-start;
}
.listItem10 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  padding: var(--padding-5xs) var(--padding-base);
}
.list,
.listItem10,
.listItem18 {
  overflow: hidden;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.listItem18 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  display: none;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
}
.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs);
  align-items: flex-start;
}
.scrollBar {
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--grey-dark-50);
  width: 6px;
  height: 100px;
  flex-shrink: 0;
}
.menu1,
.scroll {
  display: none;
  flex-direction: row;
  align-items: flex-start;
}
.scroll {
  align-self: stretch;
  padding: var(--padding-5xs);
  justify-content: center;
}
.menu1 {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: var(--card-shadow-041);
  width: 300px;
  overflow: hidden;
  justify-content: flex-start;
}
.suffixIcon2 {
  position: relative;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  overflow: hidden;
}
.button16,
.dropDownButton,
.dropDownButton1 {
  flex-shrink: 0;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.button16 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border: 1px solid var(--grey-light-1001);
  box-sizing: border-box;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  color: var(--grey-dark-1501);
}
.dropDownButton,
.dropDownButton1 {
  width: 160px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
}
.dropDownButton1 {
  align-items: flex-end;
}
.button20,
.header1,
.leftSiteComplex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button20 {
  border-radius: var(--br-5xs);
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  justify-content: center;
}
.header1,
.leftSiteComplex {
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.header1 {
  position: absolute;
  top: 20px;
  left: 356px;
  width: 1544px;
  gap: var(--gap-xl);
}
.adminPanelclientMasterclie {
  position: relative;
  background-color: var(--primary-persian-blue-25);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--typeface-nunito-sans-caption1-size);
  color: var(--secondary-iss-dark-blue-1001);
  font-family: var(--typeface-nunito-sans-subtitle-11);
}
