.iconBlock,
.iconSet {
  flex-shrink: 0;
  overflow: hidden;
}
.iconSet {
  position: relative;
  width: 40px;
  height: 40px;
}
.iconBlock {
  border-radius: var(--br-81xl);
  background-color: var(--secondary-iss-dark-blue-251);
  width: 96px;
  height: 96px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.clients,
.div {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.div {
  font-size: var(--typeface-nunito-sans-caption1-size);
  line-height: 20px;
  color: var(--secondary-iss-dark-blue-501);
}
.clientsParent,
.iconBlockParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.iconBlockParent {
  gap: var(--gap-base);
}
.prefixIcon {
  position: relative;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.button1 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
}
.button,
.button2 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.button {
  background-color: var(--primary-persian-blue-1001);
}
.button2 {
  color: var(--secondary-iss-dark-blue-501);
}
.addCard,
.addCardParent,
.buttonParent {
  display: flex;
  justify-content: flex-start;
}
.buttonParent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--typeface-nunito-sans-caption1-size);
  color: var(--white);
}
.addCard,
.addCardParent {
  align-items: center;
}
.addCard {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--primary-persian-blue-501);
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-5xl) var(--padding-base);
  gap: var(--gap-13xl);
  color: var(--primary-persian-blue-1001);
}
.addCardParent {
  position: absolute;
  top: 200px;
  left: 356px;
  width: 1544px;
  flex-direction: row;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--typeface-nunito-sans-subtitle-11-size);
  color: var(--secondary-iss-dark-blue-1001);
  font-family: var(--typeface-nunito-sans-subtitle-11);
}
